.journey {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  .station input {
    margin: 0 5px;
    width: 100px;
    text-align: center;
  }

  .switch {
    padding: 10px;
  }
}